body {
    color: white;
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    background-image: url('https://images.pexels.com/photos/6044830/pexels-photo-6044830.jpeg?cs=srgb&dl=pexels-skylar-kang-6044830.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    background-size: 74% 100%;
}

#avatar {
    justify-content: center;
    display: flex;
    margin: 100px;
}

p {
    color: white;
    text-align: center;
    border-width: 5px;
    flex-wrap: wrap;
    font-size: 1.35em;
    margin: 25px 250px 50px;

}

nav {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    margin-top: 2%;
    padding: 50px;
    justify-content: space-around;
    
  }

h1 {
    justify-content: center;
    margin: 25px 0px 100px;
    display: flex;
    font-size: 2em;

}

h3{
    justify-content: center;
    margin: 25px 0px 50px;
    display: flex;
    font-size: 1.5em;
}

  .profile {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    /* Defines how to distribute the empty space between child elements */
    background: #13293d;
    color: #fff;
    width: 25%;
    flex: 1 0 100px;
    display: inline-flex;
    justify-content: center;
    margin: 10px 0px;
    font-size: 1.5em;
    font-weight: bold;
  }